<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% for (var x of cats) { %>
    <h1>Details for: <%= x.name %></h1>
    <br>
    <img src="<%= x.image %>" alt="">
    <br>
    <h3>Favorite Food: <%= x.food %></h3>
    <br>
    <h3>Age: <%= x.age %></h3>
    <br>
    <h3>Sleeping Spots: <%= x.spot %></h3>
<% } %>
</body>
</html>