@{
    ViewData["Title"] = "Home Page";
}
@using WeddingPlanner.Models
@model List<Wedding>

<a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">Log Out</a>


<h1>Welcome to the wedding planner</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var w in @Model)
        {
            bool going = false;
        <tr>
            <td><a asp-action="DispWed" asp-route-wed_id="@w.WeddingId" asp-controller="Home">@w.WedderOne & @w.WedderTwo</a></td>
            <td>@w.Date.ToString("MMMM, dd yyyy")</td>
            <td>@w.Users.Count</td>
            <td>
            @if(ViewBag.Creator == w.Creator)
            {
                <a asp-action="DelWed" asp-route-wed_id="@w.WeddingId" asp-controller="Home">Delete</a>
            }
            else
            {
                @foreach(var x in w.Users)
                {
                    @if(@ViewBag.Creator == x.User.Email)
                    {
                        going = true;
                    }
                }
                @if(going == true)
                {
                    <a asp-action="UNRSVPWed" asp-route-wed_id="@w.WeddingId" asp-controller="Home">UN-RSVP</a>
                }
                else
                {
                    <a asp-action="RSVPWed" asp-route-wed_id="@w.WeddingId" asp-controller="Home">RSVP</a>
                }
            }
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="CreateWedding" class="btn btn-success">NewWedding</a>