@model Meeting


<h1>Dojo Activity Center</h1>
<a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">Log Out</a>
<a asp-action="Dashboard" asp-controller="Home" class="btn btn-warning">Home</a>

<br>
<br>

<h1>@Model.Name</h1>

@if(ViewBag.User.UserId == @Model.UserId)
{
  <td><a class="btn btn-warning"asp-route-meetingId="@Model.MeetingId" asp-action="Destroy" asp-controller="Home">Delete</a></td>
}
else
{

@if(@ViewBag.User.UserId != @Model.Planner.UserId)
{
  @if(Model.ComingList.All(r=>r.UserId != @ViewBag.User.UserId))
  {
  <a class="btn btn-success"asp-action="JoinLeave" asp-controller="Home" asp-route-meetingId="@Model.MeetingId" asp-route-userId="@ViewBag.User.UserId" asp-route-status="add" >Join</a>
  }
  @if(Model.ComingList.Any(r=>r.UserId == @ViewBag.User.UserId))
  {
  <a class="btn btn-danger" asp-action="JoinLeave" asp-controller="Home" asp-route-meetingId="@Model.MeetingId" asp-route-userId="@ViewBag.User.UserId" asp-route-status="remove">Leave</a>
  }
}
}

<br>
<br>

<h4>Event Coordinator: @Model.Planner.FirstName @Model.Planner.LastName</h4>

<br>
<br>

<h4>Description:</h4>

<br>

<p>@Model.Description</p>


<br>
<br>

<h4>Participants:</h4>

<ul>
  @foreach(var p in @Model.ComingList)
  {
    <li>@p.Invited.FirstName</li>
  }
</ul>